$_mainColor: rgb(246, 246, 246);
$_secondColor: black;
$_textMain: black;
$_textSupportive: rgb(113, 136, 176);
$_bg: rgb(241 245 249);
$_border: rgb(243 244 246);
$_sun: rgb(251 191 36);
$_btn_hover: rgb(191 219 254);
$_dark_header: rgb(30 41 59);
$_dark_main: rgb(51 65 85);
$_moon: rgb(142, 55, 255);
$_card_color: rgba(101, 143, 195, 0.244);
